<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egov.practice.mybatis.PracticeDao">

  <delete id="deleteAll">
    DELETE FROM user
  </delete>
  <insert id="batch" parameterType="list">
    INSERT INTO user VALUES
    <foreach collection="list" item="practiceVO" separator=",">
        (#{practiceVO.id}, #{practiceVO.name}, #{practiceVO.password})
    </foreach>

  </insert>

  <!-- TODO select 작성 -->

  <!-- TODO delete 작성 -->

  <!-- TODO insert 작성 -->

  <!-- TODO if 문 사용 -->

  <!-- TODO choose 문 사용 -->



</mapper>


