<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egov.transaction.UserDao">


  <select id="selectOne" parameterType="string" resultType="UserVO">
    SELECT id,name,password FROM user WHERE id = #{id}
  </select>

  <select id="selectList" resultType="UserVO">
    SELECT id, name, password FROM user
  </select>

  <delete id="delete" parameterType="string">
    DELETE FROM user WHERE id = #{userid}
  </delete>

  <delete id="deleteAll">
    delete from user
  </delete>

  <insert id="insert" parameterType="UserVO">
    INSERT INTO user(id,name,password) VALUES
    (#{id},#{name},#{password})
  </insert>

  <update id="update" parameterType="UserVO">
    UPDATE user SET id = #{id}, name = #{name}, password = #{password} WHERE id = #{id}
  </update>

  <insert id="batch" parameterType="list">
    INSERT INTO user(id, name, password) VALUES
    <foreach collection="list" item="userVO" separator=",">
      (#{userVO.id}, #{userVO.name}, #{userVO.password})
    </foreach>
  </insert>



</mapper>


